<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jess Ngo</title>
</head>
<!-- <div class="right">hi</div> -->
<body>
  <div class="top text-center">
    <div class="boxed">
      <h1>Jess Ngo</h1>
      <h2>Hire Jess to avoid regret</h2>
    </div>
  </div>

  <div class="middle text-center">
    <!-- <h1>About me</h1>
    <h2>Cool things I have worked on</h2> -->
      <!-- <br><br> -->
  <!-- MANGOS -->
    <aside class="card intro">
      <header>
        <img src="<%= asset_path 'green.png'%>">
        <!-- <h1>Who is /h1> -->
        <!-- <img src="<%= asset_path 'Jess.png'%>"> -->
        <h3>Who is Jess?</h3>
        <p>Full stack web developer with over 10 years experience in developing online solutions.</p>
        <h3>What can I do?</h3>
        <!-- <img src="<%= asset_path 'ruby.png'%>">
        <img src="<%= asset_path 'javascript.png'%>">
        <img src="<%= asset_path 'react.png'%>">
        <img src="<%= asset_path 'angular.png'%>"> -->

        <p>Deliver online solutions with Javascript, Ruby, Rails, Node.js, React, Python</p>



        <h3>Who likes working with me?</h3>
        <p>Tesla, NASA, Google, Apple, Facebook, IKEA, BBC, National Geographic and soon to be…YOU</p>

      </header>
      <div class="profile-bio">
        <div class="company_icons">
          <div class="still">
          <img src="<%= asset_path 'National.png'%>">
          <img src="<%= asset_path 'BBC.jpg'%>">
          <img src="<%= asset_path 'Tesla.png'%>">
          <img src="<%= asset_path 'apple.jpg'%>">
          <img src="<%= asset_path 'NASA.png'%>">

        </div>
          </div>
      </div>
    </aside>
    <br><br><br><br><br>
    <aside class="card">
      <header>
        <img src="<%= asset_path 'pink.png'%>">
        <!-- <h1>PROJECTS</h1> -->
        <!-- <h2>- Cool things I have worked on-</h2> -->
      </header>
      <div class="work-profile-bio">
        <!-- <p>Wow wee!</p> -->

        <div class="row">
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"><img src="<%= asset_path '001-wings.png'%>">
              <div class="overlay column_1">
                <div class="text">Half a sentence</div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"> <img src="<%= asset_path '002-money.png'%>">
              <div class="overlay column_2">
                <div class="text">Thug Life</div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"> <img src="<%= asset_path '004-money.png'%>">
              <div class="overlay column_3">
                <div class="text">ATM Simulator</div>
              </div>
            </a>
          </div>
        </div>

        <br><br><br>

        <div class="row">
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"><img src="<%= asset_path '004-fashion.png'%>">
              <div class="overlay column_4">
                <div class="text">CSS Zen garden</div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"> <img src="<%= asset_path '003-technology.png'%>">
              <div class="overlay column_5">
                <div class="text">Ruby calculator</div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="<%= asset_path 'green.png'%>"> <img src="<%= asset_path '001-yoga.png'%>">
              <div class="overlay column_6">
                <div class="text">World peace</div>
              </div>
            </a>
          </div>
        </div>
        <!-- <p>I am a full stack web developer. I mainly work with PHP, HTML, CSS, JS and WordPress.</p>

        <br />I also play well with Photoshop, Corel Draw, After Effects and other cool stuff.</p> -->
      </div>
    </aside>
    <br><br><br><br><br>
    <aside class="card end">
      <header>
        <img src="<%= asset_path 'blue.png'%>">
        <h2> Say hello!</h2>
        <br><br>
      </header>

      <div class="work-profile-bio">
        <p>jess@tada@gmail.com</p><br>
          <div class="icons">
          <img src="<%= asset_path '001-github-logo.png'%>"><br>
          <img src="<%= asset_path '002-linkedin.png'%>"><br>
          <img src="<%= asset_path '003-medium.png'%>">
        </div>

      </div>
    </aside>
  </div>

  <div class = "container_2">
    <div class="droplet"></div>
  </div>

  <div class="ending">

  </div>
</body>
</html>
